@{
    @using WebMVCLaptop.Models;

    ViewData["Title"] = "Home Page";
    //Recipes list = new Recipes();

}

    <div class="text-center">
        <a href="./api/RecipeService">Link to api</a><br />
        <a href="./Recipe/Details/2">Details for recipe 2</a>"
        <h1 class="display-4">Welcome</h1>
        <p>Views/Home/Index.cshtml Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
